Repository Fedict/eid-mw: changes, and which GitLab CI jobs are due for each by the changed paths.
All: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

gtk4-build:
  allow_failure: true

deploy: ca0d242269e26758639a50a6471b552805326f60
  be-statemach-docs.png
Due: none

#177 check if MSC_VER is defined instead of WIN32 to detect MSVC std lib
  cardcomm/pkcs11/src/common/util.cpp
Due: none

deploy: b456258b392daa2f7a43b00ef014ca770710ccea
  be-statemach-docs.png
Due: none

Update gitignore
  .gitignore
Due: none

Fedict#177 explicit glibcxx check on windows only
  cardcomm/pkcs11/src/common/util.cpp
Due: none

Added an addendum to the applet 1.7 card content doc. This addendum describes applet 1.7 cards that can contain EC certificates after re-keying of the card. More info will be posted on the github wiki
  doc/sdk/documentation/Applet 1.7 eID Cards/Belgian Electronic Identity Card (applet 1.7) content addendum.pdf
Due: none

Don't throw error when gender is not present
  cardcomm/pkcs11/src/cardlayer/card.cpp
Due: none

Changes for vat label
  cardcomm/pkcs11/src/beid_p11.h
  cardcomm/pkcs11/src/beidlabels.h
  plugins_tools/util/labels.c
Due: none

Make Windows pin entry text message more readable.
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpin.cpp
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpins.cpp
Due: none

Get monitor specific resolution
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpin.cpp
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpins.cpp
Due: none

coverity build: update curl command line
  .ci/builds-linux.yml
Due: none

deploy: 4d42748364bbf05770ed325dc0e6ee1746436ca2
  be-statemach-docs.png
Due: none

deploy: ab88adcef7b296b0e03973ecc0e179de05766fb5
  be-statemach-docs.png
Due: none

Skip the communication with non-eid cards.
  cardcomm/pkcs11/src/cardlayer/card.cpp
  plugins_tools/eid-viewer/state-posix.c
Due: none

Fedora 37
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Ubuntu 22.10 "Kinetic Kudu"
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

EL9
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Remove unwanted identifiers
  plugins_tools/eid-viewer/p11.c
Due: none

build arm package
  .ci/builds-linux.yml
Due: none

Inject for arm
  .gitlab-ci.yml
Due: none

Build package on right runner
  .ci/builds-linux.yml
  .gitlab-ci.yml
Due: none

Use correct image names
  .ci/builds-linux.yml
Due: none

Adapt dockerfile names
  .ci/dockerfiles/deb-build-arm/Dockerfile
  .ci/dockerfiles/deb-build-x86/Dockerfile
  .ci/dockerfiles/deb-repro-arm/Dockerfile
  .ci/dockerfiles/deb-repro-x86/Dockerfile
  .ci/dockerfiles/deb-sbuild-arm/Dockerfile
  .ci/dockerfiles/deb-sbuild-arm/download-debuerreotype-tarball.sh
  .ci/dockerfiles/deb-sbuild-arm/setup-chroot.sh
  .ci/dockerfiles/deb-sbuild-x86/Dockerfile
  .ci/dockerfiles/deb-sbuild-x86/download-debuerreotype-tarball.sh
  .ci/dockerfiles/deb-sbuild-x86/setup-chroot.sh
  .ci/dockerfiles/deb-scan-build-arm/Dockerfile
  .ci/dockerfiles/deb-scan-build-x86/Dockerfile
  .ci/dockerfiles/deb-testing-arm/Dockerfile
  .ci/dockerfiles/deb-testing-x86/Dockerfile
  .ci/dockerfiles/fed-build-arm/Dockerfile
  .ci/dockerfiles/fed-build-x86/Dockerfile
  .ci/dockerfiles/gtk4-build-arm/Dockerfile
  .ci/dockerfiles/gtk4-build-arm/experimental.list
  .ci/dockerfiles/gtk4-build-x86/Dockerfile
  .ci/dockerfiles/gtk4-build-x86/experimental.list
  .ci/dockerfiles/suse-build-arm/Dockerfile
  .ci/dockerfiles/suse-build-arm/sl15.3.conf
  .ci/dockerfiles/suse-build-arm/sl15.4.conf
  .ci/dockerfiles/suse-build-x86/Dockerfile
  .ci/dockerfiles/suse-build-x86/sl15.3.conf
  .ci/dockerfiles/suse-build-x86/sl15.4.conf
Due: none

Fix image name
  .gitlab-ci.yml
  installers/eid-viewer/Windows/1031
  installers/eid-viewer/Windows/2060
  installers/eid-viewer/Windows/2067
  installers/eid-viewer/Windows/obj/Eidviewer.wixobj
  installers/eid-viewer/Windows/obj/Eidviewer64.wixobj
  plugins_tools/Firefox_plugin/beidpkcs11_version.json
  tests/unit/windows/junit.xml
Due: none

Use template jobs instead of parametrized variables
  .ci/builds-docker.yml
  .ci/builds-linux.yml
  .gitlab-ci.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Remove useless arm registry
  .ci/builds-linux.yml
  .gitlab-ci.yml
Due: none

Fedora don't support arm32 anymore
  .gitlab-ci.yml
Due: none

Fix tag
  .ci/builds-linux.yml
Due: none

Use variable instead of job name
  .ci/builds-docker.yml
  .gitlab-ci.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Return to docker build
  .ci/builds-linux.yml
  .ci/dockerfiles/deb-build-x86/Dockerfile
  .ci/dockerfiles/deb-build/Dockerfile
  .ci/dockerfiles/deb-repro-x86/Dockerfile
  .ci/dockerfiles/deb-repro/Dockerfile
  .ci/dockerfiles/deb-sbuild-x86/Dockerfile
  .ci/dockerfiles/deb-sbuild-x86/download-debuerreotype-tarball.sh
  .ci/dockerfiles/deb-sbuild-x86/setup-chroot.sh
  .ci/dockerfiles/deb-sbuild/Dockerfile
  .ci/dockerfiles/deb-sbuild/download-debuerreotype-tarball.sh
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
  .ci/dockerfiles/deb-scan-build-x86/Dockerfile
  .ci/dockerfiles/deb-scan-build/Dockerfile
  .ci/dockerfiles/deb-testing-x86/Dockerfile
  .ci/dockerfiles/deb-testing/Dockerfile
  .ci/dockerfiles/fed-build-x86/Dockerfile
  .ci/dockerfiles/fed-build/Dockerfile
  .ci/dockerfiles/gtk4-build-x86/Dockerfile
  .ci/dockerfiles/gtk4-build-x86/experimental.list
  .ci/dockerfiles/gtk4-build/Dockerfile
  .ci/dockerfiles/gtk4-build/experimental.list
  .ci/dockerfiles/suse-build-x86/Dockerfile
  .ci/dockerfiles/suse-build-x86/sl15.3.conf
  .ci/dockerfiles/suse-build-x86/sl15.4.conf
  .ci/dockerfiles/suse-build/Dockerfile
  .ci/dockerfiles/suse-build/sl15.3.conf
  .ci/dockerfiles/suse-build/sl15.4.conf
  .gitlab-ci.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Fix if syntax
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild

Add architecture tag
  .ci/builds-docker.yml
  .ci/builds-linux.yml
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

deploy: c6c8bc03230a1dd934ca8b9c812b5c7f6eff16b3
  be-statemach-docs.png
Due: none

Drop the arch tags, not necessary
  .ci/builds-docker.yml
  .ci/builds-linux.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Add retry
  .ci/builds-linux.yml
Due: none

Teach the release scripts about aarch64, too
  scripts/build-aux/fed-rel.sh
  scripts/build-aux/suse-rel.sh
Due: none

And here too
  scripts/build-aux/ensure-reprepro-config
Due: none

ensure-reprepro-config: make sure the architecture is set for all distributions, not just the ones with the official key
  scripts/build-aux/ensure-reprepro-config
Due: none

Scale windows
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskaccess.cpp
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpin.cpp
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpins.cpp
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndbadpin.cpp
Due: none

Path conditions:
  suse-build: any of: .ci/dockerfiles/suse-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  fed-build: any of: .ci/dockerfiles/fed-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-build: any of: .ci/dockerfiles/deb-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-repro: any of: .ci/dockerfiles/deb-repro/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-scan-build: any of: .ci/dockerfiles/deb-scan-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-sbuild: any of: .ci/dockerfiles/deb-sbuild/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  gtk4-build: any of: .ci/dockerfiles/gtk4-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
