Repository Fedict/eid-mw: changes, and which GitLab CI jobs are due for each by the changed paths.
All: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

Path conditions:
  suse-build-arm: any of: .ci/dockerfiles/suse-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  suse-build-x86: any of: .ci/dockerfiles/suse-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  fed-build-arm: any of: .ci/dockerfiles/fed-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  fed-build-x86: any of: .ci/dockerfiles/fed-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-build-x86: any of: .ci/dockerfiles/deb-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-repro-x86: any of: .ci/dockerfiles/deb-repro/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-scan-build-x86: any of: .ci/dockerfiles/deb-scan-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-sbuild-arm: any of: .ci/dockerfiles/deb-sbuild/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-sbuild-x86: any of: .ci/dockerfiles/deb-sbuild/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  gtk4-build-x86: any of: .ci/dockerfiles/gtk4-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-testing-x86: any of: .ci/dockerfiles/deb-testing/**/*, .ci/builds-docker.yml, .ci/build-configs.yml

Add arm minidriver to cabinet file
  scripts/windows/beidmdrv.dff
Due: none

support of ECC256
  cardcomm/minidriver/src/CryptoOps.c
  cardcomm/minidriver/src/SmartCard.c
  cardcomm/minidriver/src/Util.c
  cardcomm/pkcs11/src/asn1.h
Due: none

NSIS installer: temporary don't show firstname
  installers/quickinstaller/NSIS_Plugins/beidread/getcarddata.c
  installers/quickinstaller/NSIS_Plugins/beidread/main.c
  installers/quickinstaller/QuickInstaller.nsi
  installers/quickinstaller/eIDTranslations.nsh
Due: none

Debian 13 "trixie"
  .ci/build-configs.yml
Due: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

Update detection of assuan
  configure.ac
Due: none

Allow failure on the scan-build test
  .ci/builds-linux.yml
Due: none

Backcompat with older libassuans
  configure.ac
Due: none

Commit updated INSTALL file
  plugins_tools/xpi/INSTALL
Due: none

Allow root to set subuid/subgid
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Drop -e, not gnu echo
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Explicitly ask for schroot mode, rather than unshare
  .ci/builds-linux.yml
Due: none

ci: add publiccode.yml validation workflow
  .github/workflows/publiccode-yml-validation.yml
Due: none

Bump eid-mw and minidriver to 5.1.24
  cardcomm/minidriver/makemsi/beidmdrv.inf
  plugins_tools/Firefox_plugin/beidpkcs11_version.json
  plugins_tools/eid-viewer/Windows/eIDViewer/Sources/About.cs
  scripts/windows/set_eidmw_version.cmd
Due: none

Fix version minidriver version format
  cardcomm/minidriver/makemsi/beidmdrv.inf
Due: none

Fix null reference
  plugins_tools/eid-viewer/certhelpers.c
Due: none

Reproduce null pointer
  plugins_tools/eid-viewer/OSX/eID Viewer/eID Viewer/AppDelegate.m
  plugins_tools/eid-viewer/Windows/eIDViewer/Sources/BackendDataViewModel.cs
  plugins_tools/eid-viewer/certhelpers.c
  plugins_tools/eid-viewer/include/eid-viewer/certhelpers.h
  plugins_tools/eid-viewer/noverification.c
Due: none

EL 10
  .ci/build-configs.yml
Due: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

opensuse 16
  .ci/build-configs.yml
Due: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

ubuntu 25.10
  .ci/build-configs.yml
Due: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

suse-build: add config for sl16.0 as copy of tumbleweed, drop older 15.3 configs that we no longer need
  .ci/dockerfiles/suse-build/Dockerfile
  .ci/dockerfiles/suse-build/sl15.3.conf
  .ci/dockerfiles/suse-build/sl15.4.conf
  .ci/dockerfiles/suse-build/sl16.0.conf
Due: suse-build-arm, suse-build-x86

Require zstd, so add that
  .ci/dockerfiles/suse-build/Dockerfile
Due: suse-build-arm, suse-build-x86

Drop armhf Debian builds
  .gitlab-ci.yml
Due: none

Drop ubuntu-archive-keyring, no longer needed
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Revert "Drop ubuntu-archive-keyring, no longer needed"
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Also need gpgv
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Follow package rename
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Revert "Drop armhf Debian builds"
  .gitlab-ci.yml
Due: none

Use stable, not testing
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Be explicit about OpenSUSE Leap 16
  .ci/dockerfiles/suse-build/Dockerfile
Due: suse-build-arm, suse-build-x86

Debian builds: use unshare mode
  .ci/builds-linux.yml
  .ci/dockerfiles/deb-sbuild/Dockerfile
  .ci/dockerfiles/deb-sbuild/download-debuerreotype-tarball.sh
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Add missing packages for suse builds
  .ci/dockerfiles/suse-build/Dockerfile
Due: suse-build-arm, suse-build-x86

Pass a -d parameter that sbuild accepts
  .ci/builds-linux.yml
Due: none

Optimize keypad
  cardcomm/pkcs11/VS_2022/RCa34516
  cardcomm/pkcs11/VS_2022/RCb34516
  cardcomm/pkcs11/VS_2022/beidpkcs11.aps
  cardcomm/pkcs11/VS_2022/beidpkcs11.sln
  cardcomm/pkcs11/src.zip
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpin.cpp
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpins.cpp
Due: none

Optimize for Touch screen
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpin.cpp
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpins.cpp
Due: none

deb-sbuild: base on ubuntu
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Add missing "arch-test" package
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Debug these builds
  .ci/builds-linux.yml
Due: none

Revert "Debian builds: use unshare mode"
  .ci/builds-linux.yml
  .ci/dockerfiles/deb-sbuild/Dockerfile
  .ci/dockerfiles/deb-sbuild/download-debuerreotype-tarball.sh
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Whoops, add back debootstrap too
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Syntax fix
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86
