Repository Fedict/eid-mw: changes, and which GitLab CI jobs are due for each by the changed paths.
All: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

gtk4-build:
  allow_failure: true

Typo Nobel -> Noble
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Revert "Improve libdir management"
  cardcomm/pkcs11/src/Makefile.am
Due: none

fedora 40
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Add back the glib schemas directory
  rpm/eid-mw.spec.in
Due: none

Bump debhelper-compat level
  debian/compat
  debian/control
Due: none

We don't install .la files
  debian/not-installed
Due: none

Add required cast
  plugins_tools/eid-viewer/p11.c
Due: none

Do it the right way
  plugins_tools/eid-viewer/p11.c
Due: none

Disable the dh_autoreconf stuff
  debian/rules
Due: none

Ubuntu: libproxy moved to universe, accomodate
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild

Change the "Validate Now" button
  plugins_tools/eid-viewer/OSX/eID Viewer/eID Viewer/Base.lproj/MainMenu.xib
Due: none

Skip reading non eid-cards
  cardcomm/pkcs11/src/cardlayer/card.cpp
  cardcomm/pkcs11/src/cardlayer/card.h
Due: none

typo
  cardcomm/pkcs11/src/cardlayer/card.cpp
Due: none

typo again
  cardcomm/pkcs11/src/cardlayer/card.cpp
Due: none

Bump eid-mw and eid-viewer for windows to 5.1.19
  plugins_tools/Firefox_plugin/beidpkcs11_version.json
  plugins_tools/eid-viewer/Windows/eIDViewer/Sources/About.cs
  scripts/windows/set_eidmw_version.cmd
Due: none

Correctly use utf8 encoding
  cardcomm/pkcs11/src/common/configuration.h
Due: none

deploy: 7f4a0db2e59eb34240b2f4053baa0c2f43bb34c2
  be-statemach-docs.png
Due: none

opensuse 15.6
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Stick with Fedora 39 for now, as mock on 40 doesn't seem to work inside docker
  .ci/dockerfiles/fed-build/Dockerfile
Due: fed-build

Replace nonprintable character by what it probably should have been
  plugins_tools/eid-viewer/conversions/doctypeconv.cpp
Due: none

deploy: 0ba5d3df906b618248ab047c932d22c40150599b
  be-statemach-docs.png
Due: none

No longer use gcc-12 for this (gcc-14 is waaay more interesting)
  .ci/builds-linux.yml
Due: none

Linux Mint 22
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Fix Linux Mint name
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Make the opensc-pkcs11 dependency versioned
  debian/control
  rpm/eid-mw.spec.in
Due: none

Whoops, don't commit in-progress work
  debian/control
  rpm/eid-mw.spec.in
Due: none

Ubuntu 24.10 "Oracular Oriole"
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Use testing, not unstable
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild

Update the way of searching for OpenSSL
  configure.ac
  debian/apparmor-profiles/beid
  debian/beid-mozilla-extension.install
  debian/beid-mozilla-extension.postinst
  debian/beid-mozilla-extension.triggers
  plugins_tools/eid-viewer/Makefile.am
Due: none

Add missing -L option
  plugins_tools/eid-viewer/OSX/support/ossl/GNUmakefile
Due: none

fedora 41
  .ci/build-configs.yml
Due: suse-build, fed-build, deb-build, deb-repro, deb-scan-build, deb-sbuild, gtk4-build

Let back to fedora latest with fedora 41 release
  .ci/dockerfiles/fed-build/Dockerfile
Due: fed-build

old-chroot was deprecated
  .ci/builds-linux.yml
Due: none

deploy: 7881744678a9858c267f9a75bd4fcbcbd7388f96
  be-statemach-docs.png
Due: none

Add dnf-3 Since fedora 41 dnf-3 is replaced by dnf5, and mock still try to use dnf-3.
  .ci/dockerfiles/fed-build/Dockerfile
Due: fed-build

check installed dnf
  .ci/dockerfiles/fed-build/Dockerfile
Due: fed-build

syntax
  .ci/dockerfiles/fed-build/Dockerfile
Due: fed-build

Drop explicit --dnf parameter
  .ci/builds-linux.yml
Due: none

Revert "Add dnf-3"
  .ci/dockerfiles/fed-build/Dockerfile
Due: fed-build

Update openssl version to 3.4.0
  plugins_tools/eid-viewer/OSX/support/ossl/GNUmakefile
Due: none

Path conditions:
  suse-build: any of: .ci/dockerfiles/suse-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  fed-build: any of: .ci/dockerfiles/fed-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-build: any of: .ci/dockerfiles/deb-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-repro: any of: .ci/dockerfiles/deb-repro/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-scan-build: any of: .ci/dockerfiles/deb-scan-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-sbuild: any of: .ci/dockerfiles/deb-sbuild/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  gtk4-build: any of: .ci/dockerfiles/gtk4-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
