Repository Fedict/eid-mw: changes, and which GitLab CI jobs are due for each by the changed paths.
All: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

Path conditions:
  suse-build-arm: any of: .ci/dockerfiles/suse-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  suse-build-x86: any of: .ci/dockerfiles/suse-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  fed-build-arm: any of: .ci/dockerfiles/fed-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  fed-build-x86: any of: .ci/dockerfiles/fed-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-build-x86: any of: .ci/dockerfiles/deb-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-repro-x86: any of: .ci/dockerfiles/deb-repro/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-scan-build-x86: any of: .ci/dockerfiles/deb-scan-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-sbuild-arm: any of: .ci/dockerfiles/deb-sbuild/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-sbuild-x86: any of: .ci/dockerfiles/deb-sbuild/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  gtk4-build-x86: any of: .ci/dockerfiles/gtk4-build/**/*, .ci/builds-docker.yml, .ci/build-configs.yml
  deb-testing-x86: any of: .ci/dockerfiles/deb-testing/**/*, .ci/builds-docker.yml, .ci/build-configs.yml

Also this
  .ci/builds-linux.yml
Due: none

Hybrid version
  .ci/dockerfiles/deb-sbuild/Dockerfile
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Drop old file
  .ci/dockerfiles/deb-sbuild/download-debuerreotype-tarball.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Drop debootstrap in favour of mmdebstrap (which we use now)
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Sigh
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Adjust sbuild command line to use unshare mode correctly
  .ci/builds-linux.yml
Due: none

Try alma instead of rocky for EL
  .ci/build-configs.yml
Due: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

Fix keypad bug in dlgwndaskpin.cpp / dlgwndaskpins.cpp, show standard button instead of bitmap
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpin.cpp
  cardcomm/pkcs11/src/dialogs/dialogswin32/dlgwndaskpins.cpp
Due: none

Revert rocky/alma switch, and allow el10 to fail
  .ci/build-configs.yml
  .gitlab-ci.yml
Due: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

Build the tarballs in such a way that -d continuous-* works again
  .ci/builds-linux.yml
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Pass $TARGET as a command-line parameter
  .ci/builds-linux.yml
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Correct shell syntax
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Set up the chroot only once all required variables have been set
  .ci/builds-linux.yml
Due: none

Roll back from unshare mode
  .ci/builds-linux.yml
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Also need sbuild-createchroot :)
  .ci/dockerfiles/deb-sbuild/Dockerfile
Due: deb-sbuild-arm, deb-sbuild-x86

Don't redo what sbuild-createchroot already does
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Fixes
  .ci/builds-linux.yml
  .ci/dockerfiles/deb-sbuild/setup-chroot.sh
Due: deb-sbuild-arm, deb-sbuild-x86

Bump supported Fedora versions
  .ci/build-configs.yml
Due: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

RPM packaging: Drop chkconfig prerequirement
  rpm/eid-mw.spec.in
Due: none

Use correct ECC key size
  cardcomm/minidriver/src/CardAndContProp.c
  cardcomm/minidriver/src/CryptoOps.c
  cardcomm/minidriver/src/InitAndDeconstruct.c
  cardcomm/minidriver/src/PubDataOps.c
  cardcomm/minidriver/src/inc/globmdrv.h
Due: none

Fix minidriver sln config
  VS_2022/beid.sln
Due: none

Add BeID Sign App components to the nsis installer
  installers/quickinstaller/QuickInstaller.nsi
  scripts/windows/package_minidriver.bat
Due: none

Update minidriver inf file to pass WHQL
  cardcomm/minidriver/makemsi/beidmdrv.inf
Due: none

Project configuration for signapp
  .gitignore
  VS_2022/beid.sln
  cardcomm/pkcs11/VS_2022/beidpkcs11.vcxproj
Due: none

Update some build scripts
  installers/eid-mw/Windows/build_msi_eidmw32.cmd
  installers/eid-mw/Windows/build_msi_eidmw64.cmd
  installers/eid-mw/Windows/build_msi_eidmwarm64.cmd
  scripts/windows/SetPaths.bat
  scripts/windows/build_minidriver.bat
Due: none

Oops shouldn't uncomment that
  cardcomm/minidriver/src/CryptoOps.c
Due: none

New minidriver version
  cardcomm/minidriver/makemsi/beidmdrv.inf
Due: none

Update filename
  installers/quickinstaller/QuickInstaller.nsi
Due: none

Support of PSS padding on RSA eID card's authentication key
  cardcomm/minidriver/src/CryptoOps.c
Due: none

Add x86 msi
  VS_2022/beid.sln
  installers/quickinstaller/QuickInstaller.nsi
Due: none

Move the DOCKER_TLS_CERTDIR and DOCKER_CERT_PATH variables here
  .ci/builds-docker.yml
Due: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

Whitespace fixes
  plugins_tools/eid-viewer/verify.c
Due: none

Fix logic reversal
  plugins_tools/eid-viewer/gtk/certs.c
Due: none

Stop using deprecated EVP_PKEY_cmp() function
  plugins_tools/eid-viewer/verify.c
Due: none

Stick with docker:28 until https://github.com/docker/for-linux/issues/1551 is resolved
  .ci/builds-docker.yml
Due: suse-build-arm, suse-build-x86, fed-build-arm, fed-build-x86, deb-build-x86, deb-repro-x86, deb-scan-build-x86, deb-sbuild-arm, deb-sbuild-x86, gtk4-build-x86, deb-testing-x86

Add CI_SERVER_TLS_CA_FILE
  .ci/builds-linux.yml
Due: none

Fix format
  plugins_tools/eid-viewer/OSX/support/ossl/openssl-3.4.0.tar.gz.sha256
Due: none

Don't try to write to the report file if we can't open it
  tests/unit/testlib.c
Due: none

Improve error handling
  plugins_tools/eid-viewer/datatool.c
Due: none
